<div class="user-info">
  <% if user_signed_in? %>
    <%= link_to current_user.nickname, user_path(current_user), class: "user-btn" %>
    <%= link_to "新規投稿", new_post_path, class: "user-btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-btn" %>
  <% end %>
</div>
<div class="postTitle">
  名刺一覧
</div>
<div class="user-contents">
  <% @posts.each do |post| %>
    <div class="user-content">
      <div class="user-content__text">
        <div class="user-content__text__top">
          <%= link_to post.company, post_path(post.id) %>
        </div>
        <div class="user-content__text__bottom">
          <%= post.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>