<!DOCTYPE html>
<html>
  <head>
    <title>B-Memo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
        <div class="header__title">
          <%= link_to "B-memo", root_path, class: "header__title--text" %>
        </div>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
